<div class="container">
  <button class="btn btn-default"
          ng-click="doReset()">
    New Tournament
  </button>
  <form class="form-inline">
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-open"></span>
        Open
      </legend>
      <div class="form-group">
        <label class="control-label"
               for="import-file">
          Choose file
        </label>
        <input id="import-file"
               type="file"
               ea-file="doOpenFile(file)" />
      </div>
      <div ng-repeat="err in open_result">
        <strong class="text-warning">{{::err}}</strong><br />
      </div>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-save"></span>
        Save
      </legend>
      <a ng-if="save.url"
         ng-href="{{::save.url}}"
         download="{{::save.name}}">
        Download File
      </a>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-log-in"></span>
        Import
      </legend>
      <div class="form-group">
        <label class="control-label"
               for="import-t3-file">
          T3 Players File
        </label>
        <input id="import-t3-file"
               type="file"
               ea-file="doImportFile('t3', file)" />
      </div>
      <div ng-repeat="err in import_t3_result">
        <strong class="text-warning">{{::err}}</strong><br />
      </div>
      <br />
      <div class="form-group">
        <label class="control-label"
               for="import-fk-file">
          FK Players File
        </label>
        <input id="import-fk-file"
               type="file"
               ea-file="doImportFile('fk', file)" />
      </div>
      <div ng-repeat="err in import_fk_result">
        <strong class="text-warning">{{::err}}</strong><br />
      </div>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-log-out"></span>
        Export
      </legend>
      <div ng-repeat="f in exports">
        <a ng-if="f.url"
           ng-href="{{f.url}}"
           download="{{f.name}}">
          Download {{f.label}} File
        </a>
      </div>
    </fieldset>
  </form>
</div>
