<div class="container">
  <button class="btn btn-default"
          ng-click="doReset()">
    New Tournament
  </button>
  <form class="form-inline">
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-open"></span>
        Open
      </legend>
      <div class="form-group">
        <label class="control-label"
               for="import-file">
          Choose file
        </label>
        <input id="import-file"
               type="file"
               onchange="angular.element(this).scope().openFile(this.files[0])" />
      </div>
      <strong class="text-danger">{{open_result}}</strong>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-save"></span>
        Save
      </legend>
      <a ng-show="save_url"
         ng-href="{{save_url}}"
         download="{{save_name}}">
        Download File
      </a>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-export"></span>
        Export
      </legend>
      <a ng-show="csv_url"
         ng-href="{{csv_url}}"
         download="{{csv_name}}">
        Download CSV File
      </a><br />
      <a ng-show="bb_url"
         ng-href="{{bb_url}}"
         download="{{bb_name}}">
        Download BB File
      </a>
    </fieldset>
  </form>
</div>
