<div class="text-center container">
  <h3>Edit Game</h3>
  <!-- <table ng-if="isTeamTournament()"
  class="table text-center">
  <tr>
  <th></th>
  <th>
  {{::game.t1.name}}
  </th>
  <th>
  {{::game.t2.name}}
  </th>
  </tr>
  <tbody>
  <tr>
  <th class="text-right">
  Tournament
  </th>
  <td ng-class="{
  'success': game.t1.team_tournament === 1,
  'danger': game.t1.team_tournament === 0,
  }">
  {{game.t1.tournament}}
  </td>
  <td ng-class="{
  'success': game.t2.team_tournament === 1,
  'danger': game.t2.team_tournament === 0,
  }">
  {{game.t2.tournament}}
  </td>
  </tr>
  <tr>
  <th class="text-right">
  Control
  </th>
  <td>{{game.t1.control}}</td>
  <td>{{game.t2.control}}</td>
  </tr>
  <tr>
  <th class="text-right">
  Army
  </th>
  <td>{{game.t1.army}}</td>
  <td>{{game.t2.army}}</td>
  </tr>
  </tbody>
  <tbody ng-repeat="g in game.games">
  <tr>
  <th></th>
  <th>
  <select class="form-control"
  ng-model="g.p1.name"
  ng-options="p.name as p.name for p in state.players | players:'inTeam':game.t1.name">
  </select>
  </th>
  <th>
  <select class="form-control"
  ng-model="g.p2.name"
  ng-options="p.name as p.name for p in state.players | players:'inTeam':game.t2.name">
  </select>
  </th>
  </tr>
  <tr>
  <th class="text-right">
  Tournament
  </th>
  <td ng-class="{
  'success': g.p1.tournament === 1,
  'danger': g.p1.tournament === 0,
  }"
  ng-click="setWinLoss(g, 'p1','p2')"
  style="cursor:pointer;">
  {{g.p1.tournament===1 ? 'Win' : g.p1.tournament===0 ? 'Loss' : ''}}
  </td>
  <td ng-class="{
  'success': g.p2.tournament === 1,
  'danger': g.p2.tournament === 0,
  }"
  ng-click="setWinLoss(g, 'p2','p1')"
  style="cursor:pointer;">
  {{g.p2.tournament===1 ? 'Win' : g.p2.tournament===0 ? 'Loss' : ''}}
  </td>
  </tr>
  <tr>
  <th class="text-right">
  List
  </th>
  <td>
  <select class="form-control"
  ng-model="g.p1.list"
  ng-options="
  c as c for c in casters[g.p1.name]
  ">
  </select>
  </td>
  <td>
  <select class="form-control"
  ng-model="g.p2.list"
  ng-options="
  c as c for c in casters[g.p2.name]
  ">
  </select>
  </td>
  </tr>
  <tr>
  <th class="text-right">
  Control
  </th>
  <td>
  <input type="number"
  ng-model="g.p1.control" />
  </td>
  <td>
  <input type="number"
  ng-model="g.p2.control" />
  </td>
  </tr>
  <tr>
  <th class="text-right">
  Army
  </th>
  <td>
  <input type="number"
  ng-model="g.p1.army" />
  </td>
  <td>
  <input type="number"
  ng-model="g.p2.army" />
  </td>
  </tr>
  </tbody>
  </table> -->

  <!-- <table ng-if="!isTeamTournament()"
  class="table text-center"> -->
  <table class="table text-center">
    <tr>
      <th style="width:200px;"></th>
      <th>
        {{::game.p1.name}}
      </th>
      <th>
        {{::game.p2.name}}
      </th>
    </tr>
    <tr>
      <th class="text-right">
        Tournament
      </th>
      <td ng-class="{
          'success': game.p1.tournament === 1,
          'danger': game.p1.tournament === 0,
          }"
          ng-click="setWinLoss(game, 'p1','p2')"
          style="cursor:pointer;">
        {{game.p1.tournament===1 ? 'Win' : game.p1.tournament===0 ? 'Loss' : 'Click to set Winner'}}
      </td>
      <td ng-class="{
          'success': game.p2.tournament === 1,
          'danger': game.p2.tournament === 0,
          }"
          ng-click="setWinLoss(game, 'p2','p1')"
          style="cursor:pointer;">
        {{game.p2.tournament===1 ? 'Win' : game.p2.tournament===0 ? 'Loss' : 'Click to set Winner'}}
      </td>
    </tr>
    <tr>
      <th class="text-right">
        List
      </th>
      <td>
        <select class="form-control"
                ng-model="game.p1.list"
                ng-options="
                c as c for c in casters[game.p1.name]
                ">
        </select>
      </td>
      <td>
        <select class="form-control"
                ng-model="game.p2.list"
                ng-options="
                c as c for c in casters[game.p2.name]
                ">
        </select>
      </td>
    </tr>
    <tr>
      <th class="text-right">
        Control
      </th>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p1.control" />
      </td>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p2.control" />
      </td>
    </tr>
    <tr>
      <th class="text-right">
        Army
      </th>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p1.army" />
      </td>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p2.army" />
      </td>
    </tr>
    <tr ng-if="state | state:'hasGameCustomField'">
      <th class="text-right">
        {{::state.custom_fields.game}}
      </th>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p1.custom_field" />
      </td>
      <td>
        <input class="form-control"
               type="number"
               ng-model="game.p2.custom_field" />
      </td>
    </tr>
    <tr>
      <th class="text-right">
        Notes
      </th>
      <td colspan="2">
        <textarea class="form-control"
                  ng-model="game.notes">
        </textarea>
      </td>
    </tr>
  </table>
  <button class="btn btn-default"
          ng-click="close(true)">
    Save
  </button>
  <button class="btn btn-default"
          ng-click="close(false)">
    Cancel
  </button>
</div>
