<div class="text-center container">
  <h3>Edit Game</h3>
  <div ng-if="::!(game | game:'hasSubGames')"
       ng-include="'partials/game_edit_single.html'">
  </div>
  <div ng-if="::(game | game:'hasSubGames')"
       ng-include="'partials/game_edit_team.html'">
  </div>
  <button class="btn btn-default"
          ng-click="close(true)">
    Save
  </button>
  <button class="btn btn-default"
          ng-click="close(false)">
    Cancel
  </button>
  <!-- <button class="btn btn-default no-print"
  ng-click="doRandomGame()">
  Random
  </button> -->
</div>
