<div class="container">
  <h2>Edit Groups</h2>
  <button class="btn btn-default"
          ng-click="doClose(true)">
    Save
  </button>
  <button class="btn btn-default"
          ng-click="doClose(false)">
    Cancel
  </button>
  <h3 style="border-bottom:1px solid black;">
    Selection
  </h3>
  <button class="btn btn-default"
          ng-click="chunkGroups()">
    Split into fixed-size groups
  </button>
  <button class="btn btn-default"
          ng-click="splitSelection()"
          ng-disabled="isSelectionEmpty()">
    Split Selection into new group
  </button>
  <button class="btn btn-default"
          ng-click="moveSelectionFront()"
          ng-disabled="isSelectionEmpty()">
    <span class="glyphicon glyphicon-chevron-up"></span>
    Move Selection up
  </button>
  <button class="btn btn-default"
          ng-click="moveSelectionBack()"
          ng-disabled="isSelectionEmpty()">
    <span class="glyphicon glyphicon-chevron-down"></span>
    Move Selection down
  </button>
  <div ng-repeat="gr in new_state.players">
    <h3 style="border-bottom:1px solid black;">
      Group{{$index+1}}
      <button class="btn"
              ng-click="moveGroupFront($index)">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </button>
      <button class="btn"
              ng-click="moveGroupBack($index)">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </button>
    </h3>
    Bracket after round : <input style="width:5em"
                                 type="number"
                                 ng-model="new_state.bracket[$index]" />
    <table class="table">
      <tr>
        <th>Player</th>
      </tr>
      <tr ng-repeat="p in gr track by p.name"
          ng-click="selection[p.name] = !selection[p.name]"
          style="cursor:pointer;"
          ng-style="{
          'background-color': selection[p.name] ? '#DDD' : 'none'
          }"
          >
        <td style="vertical-align:middle">{{p.name}}</td>
      </tr>
    </table>
  </div>
</div>
