<nav class="navbar navbar-default">
  <div class="navbar-header pull-right">
    <a class="navbar-brand" href="/stats/index.html">Go to SteamAffinity</a>
  </div>
  <div class="navbar-header"
       ng-include="'/title.html'">
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{
          'active': stateIs('file')
          }">
        <a href="#/file">File</a>
      </li>
      <li ng-class="{
          'active': stateIs('players_list')
          }">
        <a href="#/players_list">Players</a>
      </li>
      <li ng-class="{
          'active': stateIs('players_ranking')
          }">
        <a href="#/players_ranking">Ranking</a>
      </li>
      <li ng-class="{
          'active': currentState().indexOf('rounds') >= 0
          }">
        <a href="#/rounds/sum">Rounds</a>
      </li>
      <li ng-class="{
          'active': stateIs('stats')
          }">
        <a href="#/stats">Stats</a>
      </li>
      <li ng-class="{
          'active': stateIs('settings_edit')
          }">
        <a href="#/settings_edit">Settings</a>
      </li>
    </ul>
  </div>
  <app-cache-progress-bar>
  </app-cache-progress-bar>
</nav>
