<div>
  <button class="btn btn-default"
          ng-click="doAddPlayer()">
    <span class="glyphicon glyphicon-plus"></span>
    Add Player(s)
  </button>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Faction</th>
      <th>City</th>
      <th>TP</th>
      <th>SoS</th>
      <th>CP</th>
      <th>AP</th>
      <th></th>
    </tr>
    <tr ng-repeat="p in state.players | playerSort"
        ng-style="{
        'background-color': p.name === 'Phantom' ? '#CCC' : 'auto'
        }"
        style="cursor:pointer;"
        ng-click="doEditPlayer(p)">
      <td>{{$index+1}}</td>
      <td>{{p.name}}</td>
      <td>
        <img ng-src="{{p.faction | factionIcon}}"
             style="height:1.8em;"/>
        {{p.faction}}
      </td>
      <td>{{p.city}}</td>
      <td>{{p.points.tournament}}</td>
      <td>{{p.points.sos}}</td>
      <td>{{p.points.control}}</td>
      <td>{{p.points.army}}</td>
      <td>
        <button ng-if="p.name !== 'Phantom'"
                ng-click="doDeletePlayer(p, $event)"
                class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
