<div>
  <button class="btn btn-default"
          ng-click="doEditGroups()">
    Edit Groups
  </button>
  <h4 style="display:inline;">
    {{state.players | players:'size'}} Players /
    {{state.players | players:'nbGroups'}} Groups
  </h4>
  <div ng-repeat="f in exports">
    <a ng-if="f.url"
       ng-href="{{f.url}}"
       download="{{f.name}}">
      Download {{f.label}} File
    </a>
  </div>
  <!-- <div ng-if="isTeamTournament()"
  ng-include="'partials/players_team.html'">
  </div> -->
  <div ng-if="!isTeamTournament()"
       ng-include="'partials/playersRanking_single.html'">
  </div>
</div>
