<div>
  <button class="btn btn-default"
          ng-click="doAddTeam()"
          ng-hide="
          state.players.length !== 0 &&
          !isTeamTournament()
          ">
    <span class="glyphicon glyphicon-plus"></span>
    Add Team
  </button>
  <button class="btn btn-default"
          ng-click="doAddPlayer()">
    <span class="glyphicon glyphicon-plus"></span>
    Add Player
  </button>
  <table class="table">
    <tr>
      <th>#</th>
      <th>
        <button ng-if="isTeamTournament()"
                class="btn btn-default"
                ng-click="doShowAll(false, $event)">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button ng-if="isTeamTournament()"
                class="btn btn-default"
                ng-click="doShowAll(true, $event)">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        Name
      </th>
      <th>City</th>
      <th>Faction</th>
      <th>Lists</th>
      <th ng-if="isTeamTournament()">
        TTP
      </th>
      <th>TP</th>
      <th>SoS</th>
      <th>CP</th>
      <th>AP</th>
      <th></th>
    </tr>
    <tbody ng-repeat="
           t
           in state.teams | teams:'sort':state
           track by t.name
           ">
      <tr style="cursor:pointer;"
          ng-click="doEditTeam(t)">
        <td>{{$index+1}}</td>
        <td>
          <button ng-show="show[t.name]"
                  class="btn btn-default"
                  ng-click="doShow(t.name, false, $event)">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button ng-show="!show[t.name]"
                  class="btn btn-default"
                  ng-click="doShow(t.name, true, $event)">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
          {{t.name}}
        </td>
        <td>{{t.city}}</td>
        <td></td>
        <td></td>
        <td>{{t.points.team_tournament}}</td>
        <td>{{t.points.tournament}}</td>
        <td>{{t.points.sos}}</td>
        <td>{{t.points.control}}</td>
        <td>{{t.points.army}}</td>
        <td>
          <button ng-click="doDeleteTeam(t, $event)"
                  class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
      </tr>
      <tr ng-show="show[t.name]"
          ng-repeat="p in state.players | players:'inTeam':t.name track by p.name"
          style="cursor:pointer;"
          ng-click="doEditPlayer(p)">
        <td></td>
        <td>{{p.name}}</td>
        <td>{{p.city}}</td>
        <td>
          <img ng-src="{{p.faction | factions:'iconFor'}}"
               style="height:1.8em;"/>
          {{p.faction}}
        </td>
        <td style="font-size: 0.8em">
          <span ng-repeat="l in p.lists">
            {{l.caster}} <br />
          </span>
        </td>
        <td></td>
        <td>{{p.points.tournament}}</td>
        <td>{{p.points.sos}}</td>
        <td>{{p.points.control}}</td>
        <td>{{p.points.army}}</td>
        <td>
          <button ng-if="p.name !== 'Phantom'"
                  ng-click="doDeletePlayer(p, $event)"
                  class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
      </tr>
    </tbody>
    <tr ng-if="!isTeamTournament()"
        ng-repeat="
        p
        in state.players | players:'sort':state
        track by p.name
        "
        ng-style="{
        'background-color': p.name === 'Phantom' ? '#CCC' : 'auto'
        }"
        style="cursor:pointer;"
        ng-click="doEditPlayer(p)">
      <td>{{$index+1}}</td>
      <td>{{p.name}}</td>
      <td>{{p.city}}</td>
      <td>
        <img ng-src="{{p.faction | factions:'iconFor'}}"
             style="height:1.8em;"/>
        {{p.faction}}
      </td>
      <td style="font-size: 0.8em">
        <span ng-repeat="l in p.lists">
          {{l.caster}} <br />
        </span>
      </td>
      <td>{{p.points.tournament}}</td>
      <td>{{p.points.sos}}</td>
      <td>{{p.points.control}}</td>
      <td>{{p.points.army}}</td>
      <td>
        <button ng-if="p.name !== 'Phantom'"
                ng-click="doDeletePlayer(p, $event)"
                class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
