<div ng-repeat="(gri,gr) in sorted_players">
  <h2 ng-if="::state | state:'hasPlayerGroups'"
      style="border-bottom:1px solid black;">
    Group{{::gri+1}}
  </h2>
  <h3 ng-if="::state | state:'isBracketTournament':gri">
    Bracket - {{::state | state:'bracketRoundOf':gri:state.rounds.length-1}}
  </h3>
  <table class="table table-hover"
         style="table-layout:fixed">
    <tr>
      <th style="width:4em;">Rank</th>
      <th>
        Name
      </th>
      <th>Faction</th>
      <th ng-if="state | state:'hasPlayerCustomField'">
        {{::state.custom_fields.player}}
      </th>
      <th>TP</th>
      <th>SoS</th>
      <th>CP</th>
      <th>AP</th>
      <th>CK</th>
      <th ng-if="state | state:'hasGameCustomField'">
        {{::state.custom_fields.game}}
      </th>
      <th></th>
    </tr>
    <tbody ng-repeat="rank in ::gr"
           style="border-width:0px">
      <tr ng-repeat="p in ::rank.players"
          style="cursor:pointer;"
          ng-click="doEditPlayer(p)"
          ng-style="{
          'background-color': (p | player:'isDroped') ? '#CCC' : 'auto'
          }">
        <td>{{::rank.rank}}</td>
        <td style="word-wrap:break-word;">{{::p.name}}</td>
        <td style="word-wrap:break-word;"
            class="{{:: (state | state:'isPlayerBestInFaction':p) ? 'info' : ''}}">
          <img ng-src="{{::p.faction | factions:'iconFor'}}"
               style="height:1.8em;"/>
          {{::p.faction}}
        </td>
        <td ng-if="state | state:'hasPlayerCustomField'"
            class="{{:: (state | state:'isPlayerBest':'custom_field':p) ? 'info' : ''}}">
          {{::p.custom_field}}
        </td>
        <td class="{{:: (state | state:'isPlayerBest':'undefeated':p) ? 'info' : ''}}">
          {{::p.points.tournament}}
        </td>
        <td>
          {{::p.points.sos}}
        </td>
        <td class="{{:: (state | state:'isPlayerBest':'points.control':p) ? 'info' : ''}}">
          {{::p.points.control}}
        </td>
        <td class="{{:: (state | state:'isPlayerBest':'points.army':p) ? 'info' : ''}}">
          {{::p.points.army}}
        </td>
        <td class="{{:: (state | state:'isPlayerBest':'points.assassination':p) ? 'info' : ''}}">
          {{::p.points.assassination}}
        </td>
        <td ng-if="state | state:'hasGameCustomField'"
             class="{{:: (state | state:'isPlayerBest':'points.custom_field':p) ? 'info' : ''}}">
          {{::p.points.custom_field}}
        </td>
        <td>
          <button ng-click="doDropPlayer(true, p, $event)"
                  class="btn btn-default"
                  ng-if="!(p | player:'isDroped')">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Drop
          </button>
          <p ng-click="doDropPlayer(false, p, $event)"
             ng-if="(p | player:'isDroped')">
            Dropped after Round {{p.droped}}<br />
            <a>click to undrop</a>
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
