<div>
  <button class="btn btn-default no-print"
          ng-click="doEditGroups()">
    Edit Groups
  </button>
  <h4 style="display:inline;">
    {{state | state:'playersNotDroped' | players:'size'}}<span ng-if="state | state:'hasDropedPlayers'">+{{state | state:'playersDroped' | players:'size'}}</span>
    Players / {{state.players | players:'nbGroups'}} Groups
  </h4>
  <div class="no-print"
       ng-repeat="f in exports"
       style="margin:10px 0;">
    <a ng-if="f.url"
       ng-href="{{f.url}}"
       download="{{f.name}}">
      Download {{f.label}} File
    </a>
  </div>
  <!-- <div ng-if="isTeamTournament()"
  ng-include="'partials/players_team.html'">
  </div> -->
  <div ng-if="!isTeamTournament()"
       ng-include="'partials/playersList_single.html'">
  </div>
</div>
