<div id="players-list">
  <button class="btn btn-default no-print"
          ng-click="doEditGroups()">
    Edit Groups
  </button>
  <h4 class="inline">
    {{state | state:'playersNotDroped' | players:'size'}}<span ng-if="state | state:'hasDropedPlayers'">+{{state | state:'playersDroped' | players:'size'}}</span>
    {{::player_team}}s / {{state.players | players:'nbGroups'}} Groups
  </h4>
  <div class="download-link no-print"
       ng-repeat="f in exports">
    <a ng-if="f.url"
       ng-href="{{f.url}}"
       download="{{f.name}}">
      Download {{f.label}} File
    </a>
  </div>
  <div ng-repeat="(gri,gr) in sorted_players">
    <h2 ng-if="::state | state:'hasPlayerGroups'"
        class="group-header">
      Group{{::gri+1}}
    </h2>
    <button class="btn btn-default no-print"
            ng-click="doAddPlayer($index)">
      <span class="glyphicon glyphicon-plus"></span>
      Add Player/Team
    </button>
    <table class="table table-hover group-list">
      <tr>
        <th ng-if="::isTeamTournament()"
            class="clickable"
            style="width: 2em;"
            ng-click="doShowAllMembers()">
          <span class="
                glyphicon no-print
                glyphicon-chevron-{{show_members.__all__ ? 'down' : 'right'}}
                ">
          </span>
        </th>
        <th>
          Name
        </th>
        <th class="no-print"
            ng-if="::isTeamTournament()">Size</th>
        <th>Origin</th>
        <th>Faction</th>
        <th>Lists</th>
        <th>Notes</th>
        <th></th>
        <th class="no-print"></th>
      </tr>
      <tr ng-repeat-start="p in ::gr track by p.name"
          class="
          clickable
          {{(p | player:'isDroped') ? 'dropped' : ''}}
          "
          ng-click="doEditPlayer(p)">
        <td ng-if="::isTeamTournament()"
            class="clickable"
            ng-click="doShowMembers(p, $event)">
          <span class="
                glyphicon no-print
                glyphicon-chevron-{{show_members[p.name] ? 'down' : 'right'}}
                "
                ng-if="::p | player:'hasMembers'">
          </span>
          <span class="
                no-screen
                glyphicon glyphicon-chevron-right
                "
                ng-if="::p | player:'hasMembers'">
          </span>
        </td>
        <td class="break-words">
          {{::p.name}}
        </td>
        <td class="no-print"
            ng-if="::isTeamTournament()">{{::p.members.length}}</td>
        <td class="break-words">{{::p.origin}}</td>
        <td class="break-words">
          <img ng-src="{{::p.faction | factions:'iconFor'}}"
               class="faction-icon"/>
          {{::p.faction}}
        </td>
        <td class="casters-list">
          <span ng-repeat="l in ::p.lists">
            {{::l.caster}}
          </span>
        </td>
        <td>{{::p.notes}}</td>
        <td>
          <button ng-click="doDropPlayer(true, p, $event)"
                  class="btn btn-default no-print"
                  ng-if="!(p | player:'isDroped')">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Drop
          </button>
          <p ng-click="doDropPlayer(false, p, $event)"
             ng-if="(p | player:'isDroped')">
            Dropped after Round {{p.droped}}<br />
            <a class="no-print">click to undrop</a>
          </p>
        </td>
        <td class="no-print">
          <button ng-click="doDeletePlayer(p, $event)"
                  class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
      </tr>
      <tr ng-repeat-end
          ng-show="show_members[p.name]"
          ng-repeat="m in p|player:'members' track by m.name"
          class="clickable team-member"
          ng-click="doEditTeamMember(gri,p,m)">
        <td ng-if="::isTeamTournament()"></td>
        <td class="break-words">{{::m.name}}</td>
        <td class="break-words">{{::m.origin}}</td>
        <td class="break-words">
          <img ng-src="{{::m.faction | factions:'iconFor'}}"
               class="faction-icon"/>
          {{::m.faction}}
        </td>
        <td class="casters-list">
          <span ng-repeat="l in ::m.lists">
            {{::l.caster}}
          </span>
        </td>
        <td>{{::m.notes}}</td>
        <td></td>
        <td class="no-print">
          <button ng-click="doDeletePlayer(m, $event)"
                  class="btn btn-default">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
