<div>
  <form class="form-horizontal">
    <div class="container text-center">
      <div class="form-group">
        <label class="col-sm-2 control-label"
               for="name">Name :</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="text"
                 id="name"
                 name="name"
                 ng-model="player.name"
                 required="required"
                 autofocus />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"
               for="faction">Faction :</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="text"
                 id="new_faction"
                 name="new_faction"
                 ng-model="player.faction" />
          <select class="form-control"
                  id="faction"
                  name="faction"
                  ng-model="player.faction"
                  ng-options="f as f for f in factions">
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"
               for="origin">Origin :</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="text"
                 id="new_origin"
                 name="new_origin"
                 ng-model="player.origin" />
          <select class="form-control"
                  id="origin"
                  name="origin"
                  ng-model="player.origin"
                  ng-options="c as c for c in origins">
          </select>
        </div>
      </div>
      <div ng-if="state | state:'hasPlayerCustomField'"
           class="form-group">
        <label class="col-sm-2 control-label"
               for="custom">{{::state.custom_fields.player}} :</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="number"
                 id="custom"
                 name="custom"
                 ng-model="player.custom_field"
                 placeholder="Player custom field value" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label"
               for="notes">Notes :</label>
        <div class="col-sm-10">
          <textarea class="form-control"
                    id="notes"
                    name="notes"
                    ng-model="player.notes">
          </textarea>
        </div>
      </div>
      <div class="form-group"
           ng-if="::(player | player:'isDroped')">
        <label class="col-sm-2 control-label"
               for="droped">Droped after Round</label>
        <div class="col-sm-10">
          <input class="form-control"
                 type="number"
                 id="droped"
                 name="droped"
                 ng-model="player.droped" />
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col-sm-1">
          </div>
          <div class="col-sm-11">
            <ul class="nav nav-tabs">
              <li ng-repeat="l in player.lists"
                  ng-class="{
                  'active': list===$index
                  }">
                <a ng-click="doSwitchToList($index)">
                  List{{$index+1}}
                </a>
              </li>
              <li>
                <a ng-click="doAddList()">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add list
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row"
             ng-if="list !== -1">
          <div class="form-group">
            <label class="col-sm-2 control-label"
                   for="list-faction">Faction :</label>
            <div class="col-sm-10 text-left"
                 style="padding-top:0.6em">
              {{player.lists[list].faction}}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"
                   for="list-faction">Wardude :</label>
            <div class="col-sm-10">
              <input class="form-control"
                     type="text"
                     id="new-list-caster"
                     name="new.list.caster"
                     ng-model="player.lists[list].caster" />
              <select class="form-control"
                      id="list-caster"
                      name="list.caster"
                      ng-model="player.lists[list].caster"
                      ng-options="
                      id as c.name
                      for (id,c) in player.lists[list].faction | factions:'castersFor'
                      ">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"
                   for="list-faction">Theme :</label>
            <div class="col-sm-10">
              <input class="form-control"
                     type="text"
                     id="new-list-caster"
                     name="new.list.caster"
                     ng-model="player.lists[list].theme" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"
                   for="list-faction">FK list :</label>
            <div class="col-sm-10">
              <textarea style="min-height:20em;"
                        class="form-control"
                        id="new-list-fk"
                        name="new.list.fk"
                        ng-model="player.lists[list].fk">
              </textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10 text-left">
              <button class="btn btn-default"
                      ng-click="doDropList(list)">
                <span class="glyphicon glyphicon-trash"></span>
                Delete list
              </button>
            </div>
          </div>
        </div>            
      </div>
      <button class="btn btn-default"
              ng-click="doClose(true)"
              type="button">
        Save
      </button>
      <button class="btn btn-default"
              ng-click="doClose(false)"
              type="button">
        Cancel
      </button>
    </div>
  </form>
</div>
