<div class="text-center">
  <button class="btn btn-default"
          ng-click="doDeleteRound($index)">
    <span class="glyphicon glyphicon-trash"></span>
    Delete Round
  </button>
  <div ng-repeat="gr in ::state.players">
    <h2 ng-if="::state | state:'hasPlayerGroups'"
        style="border-bottom:1px solid black;">
      Group{{::$index+1}}
    </h2>
    <!-- <h3 ng-if="
    isBracketTournament($index) &&
    r >= state.bracket[$index]
    ">
    Bracket - {{::bracketRoundOf($index, r)}}
    </h3> -->
    <table class="table text-center">
      <tr>
        <th class="text-center" colspan="4">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="4">Player2</th>
      </tr>
      <tr>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
      </tr>
      <tr ng-repeat="g in ::r | round:'gamesForGroup':state.players:$index"
          ng-click="doGameEdit(r, g.p1.name)"
          style="cursor:pointer;">
        <td>{{::g.p1.army}}</td>
        <td>{{::g.p1.control}}</td>
        <td>{{::g.p1.list}}</td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p1.name),
            'danger': (g | game:'winForPlayer':g.p1.name) === false,
            }">{{::g.p1.name}}</td>
        <td>{{::g.table}}</td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p2.name),
            'danger': (g | game:'winForPlayer':g.p2.name) === false,
            }">{{::g.p2.name}}</td>
        <td>{{::g.p2.list}}</td>
        <td>{{::g.p2.control}}</td>
        <td>{{::g.p2.army}}</td>
      </tr>
    </table>
  </div>
</div>
