<div class="text-center">
  <button class="btn btn-default"
          ng-click="doDeleteRound(r)">
    <span class="glyphicon glyphicon-trash"></span>
    Delete Round
  </button>
  <div ng-repeat="gr in state.players">
    <h2 ng-if="state.players.length !== 1"
        style="border-bottom:1px solid black;">
      Group{{::$index+1}}
    </h2>
    <h3 ng-if="
        isBracketTournament($index) &&
        r >= state.bracket[$index]
        ">
      Bracket - {{::bracketRoundOf($index, r)}}
    </h3>
    <table class="table text-center">
      <tr>
        <th class="text-center" colspan="4">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="4">Player2</th>
      </tr>
      <tr>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
      </tr>
      <tr ng-repeat="g in round(r, $index)"
          ng-click="doGameEdit(g)"
          style="cursor:pointer;">
        <td>{{::g.p1.army}}</td>
        <td>{{::g.p1.control}}</td>
        <td>{{::g.p1.list}}</td>
        <td ng-class="{
            'success': successFor(g.p1.name, r) === 1,
            'danger': successFor(g.p1.name, r) === 0,
            }">{{::g.p1.name}}</td>
        <td>{{::g.table}}</td>
        <td ng-class="{
            'success': successFor(g.p2.name, r) === 1,
            'danger': successFor(g.p2.name, r) === 0,
            }">{{::g.p2.name}}</td>
        <td>{{::g.p2.list}}</td>
        <td>{{::g.p2.control}}</td>
        <td>{{::g.p2.army}}</td>
      </tr>
    </table>
  </div>
</div>
