<div>
  <ul class="nav nav-tabs">
    <li ng-class="{
        'active': pane==='sum'
        }">
      <a href="#/rounds/sum">Summary</a>
    </li>
    <li ng-repeat="i in roundsRange()"
        ng-class="{
        'active': pane===(''+i)
        }">
      <a href="#/rounds/{{i}}">Round{{i+1}}</a>
    </li>
    <li ng-class="{
        'active': pane==='next'
        }">
      <a href="#/rounds/next">Next</a>
    </li>
  </ul>
  <table ng-if="pane==='sum'"
         class="table">
    <tr>
      <th>
        <button ng-if="isTeamTournament()"
                class="btn btn-default"
                ng-click="doShowAll(false, $event)">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button ng-if="isTeamTournament()"
                class="btn btn-default"
                ng-click="doShowAll(true, $event)">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        {{ isTeamTournament() ? 'Team' : 'Player' }}
      </th>
      <th>
        Lists Played
      </th>
      <th ng-repeat="i in roundsRange()">
        Round{{i+1}}
      </th>
    </tr>
    <tbody ng-repeat="t in state.teams track by t.name">
      <tr>
        <td style="cursor:pointer;"
            ng-click="doEditTeam(t)">
          <button ng-show="show[t.name]"
                  class="btn btn-default"
                  ng-click="doShow(t.name, false, $event)">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button ng-show="!show[t.name]"
                  class="btn btn-default"
                  ng-click="doShow(t.name, true, $event)">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
          {{t.name}}
        </td>
        <td></td>
        <td ng-repeat="i in roundsRange()"
            ng-click="doGameEdit(gameForTeam(t.name, i))"
            ng-class="{
            'success': successForTeam(t.name, i) === 1,
            'danger': successForTeam(t.name, i) === 0,
            }"
            style="cursor:pointer;">
          {{tableForTeam(t.name, i)}} -
          {{opponentForTeam(t.name, i)}}
        </td>
      </tr>
      <tr ng-show="show[t.name]"
          ng-repeat="p in state.players | playersInTeam:t.name track by p.name">
        <td style="cursor:pointer;"
            ng-click="doEditPlayer(p)">
          - {{p.name}}
        </td>
        <td style="font-size:0.8em;"
            ng-class="{
            'warning': p.lists_played.length < p.lists.length,
            'info': p.lists_played.length >= p.lists.length,
            }">
          {{p.lists_played.length}}/{{p.lists.length}} -
          <span ng-repeat="c in p.lists_played">
            {{c}}
          </span>
        </td>
        <td ng-repeat="i in roundsRange()"
            ng-click="doGameEdit(gameForTeam(t.name, i))"
            ng-class="{
            'success': successFor(p.name, i) === 1,
            'danger': successFor(p.name, i) === 0,
            }"
            style="cursor:pointer;">
          {{tableFor(p.name, i)}} -
          {{opponentFor(p.name, i)}}
        </td>
      </tr>
    </tbody>
    <tbody ng-if="!isTeamTournament()">
      <tr ng-repeat="p in state.players track by p.name"
          ng-style="{
          'background-color': p.name === 'Phantom' ? '#CCC' : 'auto'
          }">
        <td style="cursor:pointer;"
            ng-click="doEditPlayer(p)">
          {{p.name}}
        </td>
        <td style="font-size:0.8em;"
            ng-class="{
            'warning': p.lists_played.length < p.lists.length,
            'info': p.lists_played.length >= p.lists.length,
            }">
          {{p.lists_played.length}}/{{p.lists.length}} -
          <span ng-repeat="c in p.lists_played">
            {{c}}
          </span>
        </td>
        <td ng-repeat="i in roundsRange()"
            ng-click="doGameEdit(gameFor(p.name, i))"
            ng-class="{
            'success': successFor(p.name, i) === 1,
            'danger': successFor(p.name, i) === 0,
            }"
            style="cursor:pointer;">
          {{tableFor(p.name, i)}} -
          {{opponentFor(p.name, i)}}
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-repeat="r in roundsRange()"
       ng-if="pane===''+r">
    <button class="btn btn-default"
            ng-click="doDeleteRound(r)">
      <span class="glyphicon glyphicon-trash"></span>
      Delete Round
    </button>
    <table ng-if="isTeamTournament()"
           class="table text-center">
      <tr>
        <th class="text-center" colspan="5">Team1</th>
        <th class="text-center">
          <button class="btn btn-default"
                  ng-click="doShowAllTables(false, $event)">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </button>
          <button class="btn btn-default"
                  ng-click="doShowAllTables(true, $event)">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
          Table
        </th>
        <th class="text-center" colspan="5">Team2</th>
      </tr>
      <tr>
        <th class="text-center">TP</th>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
        <th class="text-center">TP</th>
      </tr>
      <tbody ng-repeat="g in round(r)"
             ng-click="doGameEdit(g)"
             style="cursor:pointer;">
        <tr>
          <td>{{g.t1.tournament}}</td>
          <td>{{g.t1.army}}</td>
          <td>{{g.t1.control}}</td>
          <td></td>
          <td ng-class="{
              'success': g.t1.team_tournament === 1,
              'danger': g.t1.team_tournament === 0,
              }">
            {{g.t1.name}}
          </td>
          <td>
            <button ng-show="show['table'+g.table]"
                    class="btn btn-default"
                    ng-click="doShowTable(g.table, false, $event)">
              <span class="glyphicon glyphicon-chevron-up"></span>
            </button>
            <button ng-show="!show['table'+g.table]"
                    class="btn btn-default"
                    ng-click="doShowTable(g.table, true, $event)">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
            {{g.table}}
          </td> 
          <td ng-class="{
              'success': g.t2.team_tournament === 1,
              'danger': g.t2.team_tournament === 0,
              }">
            {{g.t2.name}}
          </td>
          <td></td>
          <td>{{g.t2.control}}</td>
          <td>{{g.t2.army}}</td>
          <td>{{g.t2.tournament}}</td>
        </tr>
        <tr ng-show="show['table'+g.table]"
            ng-repeat="i in g.games">
          <td></td>
          <td>{{i.p1.army}}</td>
          <td>{{i.p1.control}}</td>
          <td>{{i.p1.list}}</td>
          <td ng-class="{
              'success': i.p1.tournament === 1,
              'danger': i.p1.tournament === 0,
              }">
            {{i.p1.name}}
          </td>
          <td></td>
          <td ng-class="{
              'success': i.p2.tournament === 1,
              'danger': i.p2.tournament === 0,
              }">
            {{i.p2.name}}
          </td>
          <td>{{i.p2.list}}</td>
          <td>{{i.p2.control}}</td>
          <td>{{i.p2.army}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <table ng-if="!isTeamTournament()"
           class="table text-center">
      <tr>
        <th class="text-center" colspan="4">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="4">Player2</th>
      </tr>
      <tr>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center">Name</th>
        <th class="text-center"></th>
        <th class="text-center">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
      </tr>
      <tr ng-repeat="g in round(r)"
          ng-click="doGameEdit(g)"
          style="cursor:pointer;">
        <td>{{g.p1.army}}</td>
        <td>{{g.p1.control}}</td>
        <td>{{g.p1.list}}</td>
        <td ng-class="{
            'success': successFor(g.p1.name, r) === 1,
            'danger': successFor(g.p1.name, r) === 0,
            }">{{g.p1.name}}</td>
        <td>{{g.table}}</td>
        <td ng-class="{
            'success': successFor(g.p2.name, r) === 1,
            'danger': successFor(g.p2.name, r) === 0,
            }">{{g.p2.name}}</td>
        <td>{{g.p2.list}}</td>
        <td>{{g.p2.control}}</td>
        <td>{{g.p2.army}}</td>
      </tr>
    </table>
  </div>
  <div class="text-center"
       ng-if="pane==='next'">
    <table ng-if="isTeamTournament()"
           class="table text-center">
      <tr>
        <th class="text-center" colspan="3">Team1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="3">Team2</th>
      </tr>
      <tr ng-repeat="g in next_round">
        <td></td>
        <td></td>
        <td>
          <select ng-options="n as n for n in teamNames()"
                  ng-model="g.t1.name" />
        </td>
        <td>{{g.table}}</td>
        <td>
          <select ng-options="n as n for n in teamNames()"
                  ng-model="g.t2.name" />
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <table ng-if="!isTeamTournament()"
           class="table text-center">
      <tr>
        <th class="text-center" colspan="3">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="3">Player2</th>
      </tr>
      <tr ng-repeat="g in next_round">
        <td></td>
        <td></td>
        <td>
          <select ng-options="n as n for n in playerNames()"
                  ng-model="g.p1.name" />
        </td>
        <td>{{g.table}}</td>
        <td>
          <select ng-options="n as n for n in playerNames()"
                  ng-model="g.p2.name" />
        </td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <button class="btn btn-default"
            ng-click="suggestNextRound(false)"
            ng-show="
            state.rounds.length===0 ||
            !state.bracket
            ">
      Make SR Suggestion
    </button>
    <button class="btn btn-default"
            ng-click="suggestNextRound(true)"
            ng-show="
            state.rounds.length===0 ||
            state.bracket
            ">
      Make Bracket Suggestion
    </button>
    <button class="btn btn-default"
            ng-click="registerNextRound()">
      Register Round
    </button>
  </div>
</div>
