<div class="text-center">
  <button class="btn btn-default"
          ng-click="doDeleteRound(round.current)">
    <span class="glyphicon glyphicon-trash"></span>
    Delete Round
  </button>
  <div ng-repeat="f in exports"
       style="margin:10px 0;">
    <a ng-if="f.url"
       ng-href="{{f.url}}"
       download="{{f.name}}">
      Download {{f.label}} File
    </a>
  </div>
  <div ng-repeat="(gri,gr) in ::state.players">
    <h2 ng-if="::state | state:'hasPlayerGroups'"
        style="border-bottom:1px solid black;">
      Group{{::gri+1}}
    </h2>
    <h3 ng-if="::state | state:'isBracketTournament':gri:round.current">
      Bracket - {{::state | state:'bracketRoundOf':gri:round.current}}
    </h3>
    <table class="table text-center">
      <tr>
        <th>CKill</th>
        <th class="text-center" colspan="4">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center" colspan="4">Player2</th>
        <th>Notes</th>
      </tr>
      <tr>
        <th></th>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center"
            style="width:25%;">Name</th>
        <th class="text-center"></th>
        <th class="text-center"
            style="width:25%;">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
        <th></th>
      </tr>
      <tr ng-repeat="g in ::r | round:'gamesForGroup':state.players:$index"
          ng-click="doGameEdit(r, g.p1.name, round.current)"
          style="cursor:pointer;">
        <td>
          <span class="glyphicon glyphicon-{{::(g | game:'isAssassination') ? 'ok' : ''}}">
          </span>
        </td>
        <td>{{::g.p1.army}}</td>
        <td>{{::g.p1.control}}</td>
        <td>{{::g.p1.list}}</td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p1.name),
            'danger': (g | game:'winForPlayer':g.p1.name) === false,
            }">{{::g.p1.name}}</td>
        <td>{{::g.table}}</td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p2.name),
            'danger': (g | game:'winForPlayer':g.p2.name) === false,
            }">{{::g.p2.name}}</td>
        <td>{{::g.p2.list}}</td>
        <td>{{::g.p2.control}}</td>
        <td>{{::g.p2.army}}</td>
        <td class="text-left">{{::g.notes}}</td>
      </tr>
    </table>
  </div>
</div>
