<div class="no-print"
     ng-repeat="f in exports"
     style="margin:10px 0;">
  <a ng-if="::f.url"
     ng-href="{{::f.url}}"
     download="{{::f.name}}">
    Download {{::f.label}} File
  </a>
</div>
<div ng-repeat="(gri, gr) in ::sorted_players">
  <h2 ng-if="::state | state:'hasPlayerGroups'"
      style="border-bottom:1px solid black;">
    Group{{::gri+1}}
  </h2>
  <table class="table"
         style="table-layout:fixed">
    <tr>
      <th>Player</th>
      <th>Lists Played</th>
      <th ng-repeat="(ri,r) in ::state.rounds">
        {{
        ::(r | round:'groupIsInBracket':gri) ?
        (r | round:'groupBracketRoundOf':gri) :
        'Round'+(ri+1)
        }}
      </th>
    </tr>
    <tr ng-repeat="(pi, p) in ::gr track by p.name">
      <td style="
          cursor:pointer;
          background-color:{{::(p | player:'isDroped') ? '#CCC' : 'auto'}};
          "
          ng-click="doEditPlayer(p)"
          title="edit player">
        <img ng-src="{{::p.faction | factions:'iconFor'}}"
             style="height:1.8em;"/>
        {{::p.name}}
      </td>
      <td style="font-size:0.8em;"
          class="
          {{::(p | player:'allListsHaveBeenPlayed') ? 'info' : ''}}
          {{::!(p | player:'allListsHaveBeenPlayed') ? 'warning' : ''}}
          "
          >
        {{
        ::p.lists_played.length
        +'/'+
        p.lists.length
        +' - '+
        p.lists_played.join(' ')
        }}
      </td>
      <td ng-repeat="(ri,r) in ::state.rounds"
          ng-click="doGameEdit(r, p.name)"
          style="
          background-color:{{::(p | player:'hasDropedInRound':ri) ? '#CCC' : 'auto'}};
          cursor: pointer;
          "
          class="
          {{::
          (games_by_players[gri][pi][ri] | game:'winForPlayer':p.name) ? 'success' :
          (games_by_players[gri][pi][ri] | game:'lossForPlayer':p.name) ? 'danger' :
          ''
          }}
          "
          title="edit game">
        <span class="no-screen">
          {{::
          (games_by_players[gri][pi][ri] | game:'winForPlayer':p.name) ? 'W' :
          (games_by_players[gri][pi][ri] | game:'lossForPlayer':p.name) ? 'L' :
          '??'
          }} /
        </span>
        {{ ::games_by_players[gri][pi][ri] | game:'tableForPlayer':p.name }} -
        {{ ::games_by_players[gri][pi][ri] | game:'opponentForPlayer':p.name }}
      </td>
    </tr>
  </table>
</div>
