<div ng-repeat="gr in ::state.players">
  <h2 ng-if="hasPlayerGroups()"
      style="border-bottom:1px solid black;">
    Group{{::$index+1}}
  </h2>
  <table class="table">
    <tr>
      <th>Player</th>
      <th>Lists Played</th>
      <th ng-repeat="r in ::state.rounds">
        Round{{::$index+1}}
      </th>
    </tr>
    <tr ng-repeat="p in ::gr track by p.name">
      <td style="cursor:pointer;"
          ng-click="doEditPlayer(p)">
        {{::p.name}}
      </td>
      <td style="font-size:0.8em;"
          ng-class="{
          'info': (p | player:'allListsHaveBeenPlayed'),
          'warning': !(p | player:'allListsHaveBeenPlayed'),
          }"
          >
        {{::p.lists_played.length}}/{{::p.lists.length}} -
        <span ng-repeat="c in ::p.lists_played">
          {{::c}}
        </span>
      </td>
      <td ng-repeat="r in ::state.rounds"
          ng-click="doGameEdit(r, p.name, 'sum')"
          ng-class="{
          'success': (r | round:'gameForPlayer':p.name | game:'winForPlayer':p.name),
          'danger': (r | round:'gameForPlayer':p.name | game:'winForPlayer':p.name) === false,
          }"
          style="cursor:pointer;">
        {{ ::r | round:'gameForPlayer':p.name | game:'tableForPlayer':p.name }} -
        {{ ::r | round:'gameForPlayer':p.name | game:'opponentForPlayer':p.name }}
      </td>
    </tr>
  </table>
</div>
