<div class="text-center">
  <button class="btn btn-default"
          style="margin-bottom: 5px;"
          ng-class="{
          'btn-info': (new_state | state:'playersNotDroped' | players:'areAllPaired':next_round)
          }"
          ng-disabled="!(new_state | state:'playersNotDroped' | players:'areAllPaired':next_round)"
          ng-click="registerNextRound()">
    Register Round
  </button>
  <form class="form-inline">
    <div class="form-group">
      <label>Scenario :</label>
      <select class="form-control"
              ng-options="s[1] as s[1] group by s[0] for s in scenarios"
              ng-model="next_round.scenario">
        <option value=""></option>
      </select>
    </div>
  </form>
  <p class="text-warning"
     ng-if="!previous_round_complete">
    <strong>Previous round is not complete !</strong><br />
    Pairing suggestions are bound to fail...
  </p>
  <div ng-repeat="(gri,gr) in ::new_state.players">
    <h2 ng-if="::new_state | state:'hasPlayerGroups'"
        style="border-bottom:1px solid black;">
      Group{{::$index+1}}
    </h2>
    <p class="text-warning"
       ng-if="::!(gr | players:'groupSizeIsEven':state.rounds.length)">
      <strong>Odd number of players !</strong>
    </p>
    <h3 ng-if="next_round | round:'groupIsInBracket':gri">
      Bracket - {{next_round | round:'groupBracketRoundOf':gri}}
    </h3>
    <table class="table text-center">
      <tr>
        <th class="text-center"
            colspan="2">Player1</th>
        <th class="text-center">Table</th>
        <th class="text-center"
            colspan="2">Player2</th>
      </tr>
      <tr ng-repeat="(gai, g) in next_round.games[gri]"
          ng-class="{
          'info': (g | game:'isValid')
          }">
        <td ng-class="{
            'warning': round_fitness.games[gri][gai].pair
            }">
          <select ng-model="g.p1.name"
                  ng-change="updatePlayer(gri, gai, 'p1')"
                  ng-options="p[0] as p[1] for p in players_options[gri]"
                  class="form-control">
          </select>
        </td>
        <td ng-class="{
            'warning': round_fitness.games[gri][gai].faction
            }">
          <img ng-src="{{state.players | players:'factionFor':g.p1.name | factions:'iconFor'}}"
               style="height:1.8em;"/>
        </td>
        <td ng-class="{
            'warning': round_fitness.games[gri][gai].table
            }">
          <select ng-model="g.table"
                  ng-change="updateTable(gri, gai)"
                  ng-options="t as t for t in tables_ranges[gri]"
                  class="form-control">
          </select>
        </td>
        <td ng-class="{
            'warning': round_fitness.games[gri][gai].faction
            }">
          <img ng-src="{{state.players | players:'factionFor':g.p2.name | factions:'iconFor'}}"
               style="height:1.8em;"/>
        </td>
        <td ng-class="{
            'warning': round_fitness.games[gri][gai].pair
            }">
          <select ng-model="g.p2.name"
                  ng-change="updatePlayer(gri, gai, 'p2')"
                  ng-options="p[0] as p[1] for p in players_options[gri]"
                  class="form-control">
          </select>
        </td>
      </tr>
    </table>
    <button class="btn btn-default"
            ng-click="suggestNextRound(gri, 'sr')">
      Make SR Suggestion
    </button>
    <button class="btn btn-default"
            ng-click="suggestNextRound(gri, 'bracket')"
            ng-if="::state | state:'canBeBracketTournament':gri"
            >
      Make Bracket Suggestion
    </button>
  </div>
  <p class="text-warning"
     ng-repeat="(i,line) in round_fitness.summary">
    <strong>{{line}}</strong>
  </p>
  <button class="btn btn-default"
          style="margin-top: 5px;"
          ng-class="{
          'btn-info': (new_state | state:'playersNotDroped' | players:'areAllPaired':next_round)
          }"
          ng-disabled="!(new_state | state:'playersNotDroped' | players:'areAllPaired':next_round)"
          ng-click="registerNextRound()">
    Register Round
  </button>
</div>
