<div class="text-center">
  <button class="btn btn-default no-print"
          ng-click="doDeleteRound(round.current)">
    <span class="glyphicon glyphicon-trash"></span>
    Delete Round
  </button>
  <!-- <button class="btn btn-default no-print"
  ng-click="doRandomRound()">
  Random
  </button> -->
  <div class="no-print"
       ng-repeat="f in exports"
       style="margin:10px 0;">
    <a ng-if="f.url"
       ng-href="{{f.url}}"
       download="{{f.name}}">
      Download {{f.label}} File
    </a>
  </div>
  <form class="form-inline">
    <div class="form-group">
      <label>Scenario :</label>
      <select class="form-control"
              ng-options="s[1] as s[1] group by s[0] for s in scenarios"
              ng-model="state.rounds[round.current].scenario"
              ng-change="storeState()">
        <option value=""></option>
      </select>
    </div>
  </form>
  <div ng-repeat="(gri,gr) in ::r.games">
    <h2 ng-if="::r | round:'hasGamesGroups'"
        style="border-bottom:1px solid black;">
      Group{{::gri+1}}
    </h2>
    <h3 ng-if="::r | round:'groupIsInBracket':gri">
      Bracket - {{::r | round:'groupBracketRoundOf':gri}}
    </h3>
    <table class="table text-center">
      <tr>
        <th>CKill</th>
        <th class="text-center" colspan="5">Player1</th>
        <th class="visible-print"></th>
        <th class="text-center">Table</th>
        <th class="visible-print"></th>
        <th class="text-center" colspan="5">Player2</th>
        <th>Notes</th>
      </tr>
      <tr>
        <th></th>
        <th class="text-center">AP</th>
        <th class="text-center">CP</th>
        <th class="text-center">List</th>
        <th class="text-center"
            style="width:25%;">Name</th>
        <th style="width:1.8em;"></th>
        <th class="text-center visible-print"></th>
        <th class="text-center"></th>
        <th class="text-center visible-print"></th>
        <th style="width:1.8em;"></th>
        <th class="text-center"
            style="width:25%;">Name</th>
        <th class="text-center">List</th>
        <th class="text-center">CP</th>
        <th class="text-center">AP</th>
        <th></th>
      </tr>
      <tr ng-repeat="g in ::gr"
          ng-click="doGameEdit(r, g.p1.name, round.current)"
          style="cursor:pointer;">
        <td>
          <span class="glyphicon glyphicon-{{::(g | game:'isAssassination$') ? 'ok' : ''}}">
          </span>
        </td>
        <td>{{::g.p1.army}}</td>
        <td>{{::g.p1.control}}</td>
        <td>{{::g.p1.list}}</td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p1.name),
            'danger': (g | game:'lossForPlayer':g.p1.name),
            }">
          {{::g.p1.name}}
        </td>
        <td>
          <img class="icon"
               ng-src="{{::state.players | players:'factionFor':g.p1.name | factions:'iconFor'}}"
               style="height:1.8em;"/>
        </td>
        <td class="visible-print">
          {{
          (g | game:'winForPlayer':g.p1.name) ? 'W' :
          (g | game:'lossForPlayer':g.p1.name) ? 'L' :
          ''
          }}
        </td>
        <td>{{::g.table}}</td>
        <td class="visible-print">
          {{
          (g | game:'winForPlayer':g.p2.name) ? 'W' :
          (g | game:'lossForPlayer':g.p2.name) ? 'L' :
          ''
          }}
        </td>
        <td>
          <img class="icon"
               ng-src="{{::state.players | players:'factionFor':g.p2.name | factions:'iconFor'}}"
               style="height:1.8em;"/>
        </td>
        <td ng-class="{
            'success': (g | game:'winForPlayer':g.p2.name),
            'danger': (g | game:'winForPlayer':g.p2.name) === false,
            }">
          {{::g.p2.name}}
        </td>
        <td>{{::g.p2.list}}</td>
        <td>{{::g.p2.control}}</td>
        <td>{{::g.p2.army}}</td>
        <td class="text-left">{{::g.notes}}</td>
      </tr>
    </table>
  </div>
</div>
