<div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li ng-class="{
          'active': pane==='custom_fields'
          }">
        <a ng-click="pane = 'custom_fields'">Custom Fields</a>
      </li>
      <li ng-class="{
          'active': pane==='player_ranking'
          }">
        <a ng-click="pane = 'player_ranking'">Player Ranking</a>
      </li>
    </ul>
    <div ng-if="pane === 'custom_fields'"
         ng-include="'partials/settings_customFields.html'">
    </div>
    <div ng-if="pane === 'player_ranking'"
         ng-include="'partials/settings_playerRanking.html'">
    </div>
  </div>
</div>
