/******************************************************/
/* generics
/******************************************************/

.clickable {
    cursor: pointer;
}

/******************************************************/
/* main view
/******************************************************/

#drop-menu {
    position: absolute;
    right: 5px;
    top: 0px;
}
#drop-menu .dropdown-menu {
    left: auto;
    right: 0px;
}
#drop-menu .dropdown-menu li {
    padding: 3px 0px 3px 10px;
}
#drop-menu .dropdown-menu li.active {
    background-color: #EEE;
}
#drop-menu .dropdown-menu li.divider {
    margin-left: 0px;
    padding: 0px;
}
@media (max-width: 767px) {
    #tab-menu {
        display: none;
    }
    #otherapp-link {
        display: none;
    }
}
@media (min-width: 768px) {
    #drop-menu {
        display: none;
    }
}
@media screen {
    .no-screen {
        display: none;
    }
}
@media print {
    .no-print {
        display: none;
    }
    img.icon {
        max-width: 1.8em !important;
    }
}
/******************************************************/
/* appCache progress bar
/******************************************************/

.appcache-progress {
    position: absolute;
    bottom: -3px;
    left: 0px;
    height: 3px;
    width: 100%;
    background-color: #999;
}
.appcache-progress-bar {
    background-color: #BBF;
    height: 3px;
}

/******************************************************/
/* prompt
/******************************************************/

.prompt-mask {
    z-index: 2000;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.prompt-container {
    z-index: 2010;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.prompt-panel {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

.section {
    text-align: center;
    font-weight: bold;
    background-color: #CCC;
    margin-bottom: 10px;
}

/******************************************************/
/* playersList
/******************************************************/

#players-list .inline {
    display: inline;
}

#players-list .download-link {
    margin: 10px 0;
}

#players-list .group-header {
    border-bottom: 1px solid black;
}

#players-list .group-list {
    table-layout: fixed;
}

#players-list .dropped {
    background-color: #CCC;
}

#players-list .break-words {
    word-wrap:break-word;
}

#players-list .faction-icon {
    height: 1.8em;
}

#players-list .casters-list {
    font-size: 0.9em;
}

#players-list .team-member {
    background-color: #C9DDE7;
}