<div class="container">
  <form class="form">
    <fieldset style="margin-top:10px">
      <legend>Currently Loaded Files</legend>
      <table class="table table-hover"
             ng-hide="state.length === 0">
        <tr>
          <th>
            Name
          </th>
        </tr>
        <tr ng-repeat="(fi,f) in state"
            ng-click="doStateSelection(fi)"
            class="
            clickable 
            {{selection.state === fi ? 'selected' : ''}}
            ">
          <td>{{::f.name}}</td>
        </tr>
        <tr>
          <td>
            <button class="btn btn-default"
                    ng-hide="state.length === 0"
                    ng-click="doReset()">
              <span class="glyphicon glyphicon-trash"></span>
              Drop All
            </button>
          <span class="hint"
                ng-hide="hasSelection('state')">Select data...</span>
          <span ng-show="hasSelection('state')">
            <button class="btn btn-default"
                    ng-click="doDropFile(selection.state)">
              <span class="glyphicon glyphicon-trash"></span>
              Drop Selection
            </button>
            <button class="btn btn-default"
                    ng-click="doLoadInSteamDating(selection.state)">
              <span class="glyphicon glyphicon-open"></span>
              Load in SteamDating
            </button>
            <a ng-href="{{state_export.url}}"
               download="{{state_export.name}}">
              Download File
            </a>
          </span>
        </tr>
      </table>
    </fieldset>
    <fieldset style="margin-top:10px">
      <legend>  
        <span class="glyphicon glyphicon-open"></span>
        Load
      </legend>
      <div class="form-group">
        <label class="control-label"
               for="import-file">
          Choose file
        </label>
        <input id="import-file"
               type="file"
               multiple="multiple"
               ea-file="doOpenFile(file)" />
      </div>
      <div class="form-group">
        <label>or Load file from server :</label>
      <table class="table table-hover">
        <tr>
          <th colspan="2">Name</th>
        </tr>
        <tr ng-repeat="(fi,f) in server_results"
            ng-click="doServerSelection(fi)"
            class="
            clickable
            {{selection.server === fi ? 'selected' : ''}}
            ">
          <td>{{::f.name}}</td>
          <td>
            <span ng-show="f.loaded">Loaded</span>
          </td>
        </tr>
        <tr>
          <td colspan="2"
              class="hint"
              ng-hide="hasSelection('server')">Select a file...</td>
          <td colspan="2"
              ng-show="hasSelection('server')">
            <button class="btn btn-default"
                    ng-click="doLoadFromServer(selection.server)"
                    ng-disabled="server_results[selection.server].loaded">
              <span class="glyphicon glyphicon-open"></span>
              Load
            </button>
          </td>
        </tr>
      </table>
      </div>
      <div style="
           max-height: 300px;
           overflow-y: auto;
           ">
        <div ng-repeat="err in open_result">
          <strong class="text-warning">{{::err}}</strong><br />
        </div>
      </div>
    </fieldset>
  </form>
</div>
