<table class="col-xs-12"
       style="width:100%">
  <tr ng-repeat="b in bars"
      style="
      vertical-align:middle;
      padding:0;
      margin:0;
      "
      >
    <td class="text-right"
        style="
        padding:0 10px 0 0;
        margin:0;
        "
        >
      {{::b.name}}
    </td>
    <td style="
        padding:0;
        margin:0;
        width:{{::width+40}}px;
        "
        >
      <svg ng-attr-width="{{::width+40}}px" height="25px">
        <rect x="0" y="0" ng-attr-width="{{::b.width}}" height="25"
              style="
              fill:{{::b.color}};
              stroke:#000;
              stroke-width:0.5;
              " />
        <text ng-attr-x="{{::b.width+5}}" y="20">
          {{::b.value}}
        </text>
      </svg>
    </td>
  </tr>
</table>
